label {
  margin: 10px 0;
  font-size: 1.05rem;
}

input[type='checkbox'],
input[type='radio'] {
  width: 18px;
  height: 18px;

  + span {
    margin-left: 5px;
    vertical-align: text-bottom;
    font-size: 0.96rem;
    text-transform: capitalize;
  }
}

.movie-inputs {
  margin: 0 0 0 5px;
  list-style: none;
  padding: 0;
  transition: 0.5s linear;

  li.not-see-li {
    display: none;
  }
}

p.see-more {
  margin: 10px 5px 0;
  font-size: 0.95rem;
  cursor: pointer;
}
